@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Nova+Mono&display=swap');

$white: #ffffff;
$lightBackground: #f7f7f7;
$lighterMainGreen: #5873534a;
$headerPrimary: #2e5544;
$headerTertiary: #587353;
$headerSecondary: #1a2f27;
$black: #000000;
$bodyRed: #a84537;
$bodyGold: #d6b068;

$text-white: $white;
$text-black: $black;
$shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 0px;

$font-body: 'Londrina Solid', sans-serif;
$font-header: 'Port Lligat Slab', sans-serif;