@import './_theme.scss';
html,
body {
  font-family: $body-font-family;
  color: $text-black;
  background-color: $lightBackground;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: $text-black;
  cursor: pointer;
}
