@import './_theme.scss';

html {
  font-size: 62.5%;
}

html,
body {
  font-family: $body-font-family;
  color: $text-black;
  background-color: $lightBackground;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  // height: 100vh;
}

#root {
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: $text-black;
  cursor: pointer;
}

@media (min-width: 2561px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 2561px) {
  html {
    font-size: 81.25%;
  }
}

@media (max-width: 1921px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1601px) {
  html {
    font-size: 68.75%;
  }
}

@media (max-width: 1281px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1025px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 769px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 481px) {
  html {
    font-size: 43.75%;
  }
}

@media (max-width: 321px) {
  html {
    font-size: 37.5%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 31.25%;
  }
}
