
@use '../styles/_theme' as theme;

body {
  font-family: theme.$body-font-family; color: theme.$text-black;
}

p { margin: 0px; }

a { text-decoration: none; color: theme.$text-black; cursor: pointer; }

html {
  background-color: theme.$lightBackground;
  font-family: theme.$body-font-family; color: theme.$text-black;
}