@import '../styles/theme';

.eventContainer {
  display: flex;
  flex-direction: column;

  place-content: center;
  gap: 2rem;
  background-color: $white;
  padding: 5rem;

  height: 50rem;
  width: 90rem;
  margin: 0 auto;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: $shadow;

  .header {
    color: $bodyRed;
    font-family: $heading-font-family;
    font-size: 5.2rem;
    font-weight: 900;
    padding: 1rem 6rem;
    text-align: center;
    text-shadow: $shadow;
    width: 100%;

    border-bottom: 8px solid $bodyGold;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    position: relative;
    width: fit-content;
  }

  .createEventContainer {
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    width: fit-content;

    position: relative;

    .secondaryHeading {
      color: $black;
      font-family: $heading-font-family;
      font-size: 3.2rem;
      font-weight: 900;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }

    .eventForm {
      display: grid;
      grid-template-columns: 1fr 3fr;
      margin: 0 auto;
      gap: 2rem;
      margin-top: 5rem;
      height: 34rem;

      label {
        font-size: 2.4rem;

        color: $headerTertiary;
        font-family: $body-font-family;
      }
      input {
        background-color: $headerTertiary;
        border-radius: 10px;
        color: $text-white;
        font-size: 2.4rem;
        height: 3.6rem;
        font-family: $body-font-family;
        border: 2px solid $headerTertiary;

        &::placeholder {
          color: #f7f7f78f;
          font-size: 2.4rem;
        }
        &:focus {
          outline: none;
          border: 2px solid $bodyGold;
        }
        
      }

      button {
        width: 20rem;
        
        height: 4.5rem;
        border-radius: 11px;
        border: none;
        background-color: $headerSecondary;
        color: $text-white;
        font-family: $body-font-family;
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        text-shadow: $shadow;
        cursor: pointer;
        margin: 0 auto;

        grid-column: auto / span 2;
       
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $bodyGold;
        }
      }
      
     
    }
    img {
      width: 12rem;
      height: auto;
      position: absolute;
      bottom: 2rem;
      right: -10rem;
    }
    h3 {
      color: $bodyRed;
      font-family: $heading-font-family;
      font-size: 3.4rem;
      font-weight: 900;
      text-align: center;
      text-shadow: $shadow;
      width: 100%;
    }
  }
  .linkContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    background-color: $bodyGold;
    border-radius: 1rem;
    color: $white;
    padding: 2rem;

    p {
      text-align: center;
      font-weight: 900;
      font-size: 2.2rem;
      color: $white;
      font-family: $body-font-family;
    }
    a {
      color: $white;
      font-size: 2.2rem;
      font-weight: 900;
      text-decoration: none;
      text-align: center;
      font-family: $body-font-family;
      padding: 0rem 5rem;

      &:hover {
        text-decoration: underline;
        color: $lightBackground;
      }
    }
  }
  .copyLinkContainer {    
    height: 7.5rem;
    width: 7.5rem;
    background-color: $bodyRed;
    position: absolute;
    border-radius: 15px;
    bottom: 13.5rem;
    right: -5rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: $shadow;
    justify-content: space-evenly;
   

   

    p {
      color: $white;
      font-family: $body-font-family;
      font-size: 1.2rem;
      word-wrap: break-word;
      
    }

    img {
      height: 7rem;
      width: auto;
      top:5.1rem;
      right: -2.2rem;
      animation: rotate 1s infinite;

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }

    button {
      justify-self: center;
      align-self: flex-start;
    
      font-size: 1.1rem;
      padding: 0.5rem;


      background-color: $headerPrimary;
      border-radius: 5px;
      color: $text-white;
      cursor: pointer;
      border:none;

      &:hover {
        background-color: $bodyGold;
        border:none
      }
    }
  }

  h4 {
    color: $text-black;
    font-family: $heading-font-family;
    font-size: 3.4rem;
    font-weight: 900;
    text-align: center;
    text-shadow: $shadow;
  }

  .eventLink {
    color: $bodyRed;
    text-transform: capitalize;

    margin: 0 auto;

    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    background-color: $headerSecondary;
    border-radius: 8px;
    color: $text-white;
    cursor: pointer;
    font-family: $body-font-family;
    font-size: 1.6rem;
    font-weight: 900;

    &:hover {
      background-color: $bodyGold;
    }
  }

  .rudolphImg {
    width: 5rem;
    height: 5rem;
    height: auto;
    position: absolute;
    top: 19rem;
    left: -5rem;
    transform: rotate(-10deg);
  }
}
