@use '../styles/_theme' as theme;

.dashboard {
  min-height: 60vh;
  text-align: center;
  font-family: theme.$body-font-family;

  h1 {
  color:theme.$bodyRed;
  font-size: 50px;
  margin-bottom: 0px;
  }

  hr  {
  width: 40%;
  border: 0;          
  background-color: theme.$bodyGold;
  height: 3px;
  }

  ul {
    position: relative;
  }

  li {
    list-style-type: none;
    font-size: 18px;
    position: relative;
    right:20px;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  button {
    padding: 10px 20px 10px 20px;
    background-color: theme.$bodyGold;
    margin: 10px;
    text-decoration: none;
    font-family: theme.$body-font-family;
    // color: theme.$white;
    color: theme.$white;
    border-radius: 5px;
    border-color: theme.$bodyGold;
    border-style: solid;
    font-size: 20px;
  }
  button:hover {
    color: theme.$black;
    background-color: theme.$white;
    border-color: theme.$bodyGold;
    border-width: 4px;
    border-style: solid;
    text-decoration: none;
    
  }
  p {
    font-size: 20px;
  }
}
.event {
  background-color: white;
  padding: 40px;
  margin: 30px 50px 0px 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: theme.$shadow;
}

.title {
  color: theme.$bodyRed;
  font-size: 30px !important;
}

.statusClosed {
  color: theme.$bodyRed;
}

.statusOpen {
  color: green;
}


.treeImage {
  position: relative;
  right: 25px;
  bottom: -25px;
  rotate:calc(15deg);
  }
   