@use '../styles/theme';

.drinksContainer {
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: 30px;
  justify-content: center;
}


.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(232, 232, 232);
  border-radius: 0px 20px 20px 0px;
  
}


img {
  border-radius: 20px 0px 0px 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

button {
  padding: 10px;
  width: 200px;
  margin-bottom: 50px;
}