@use '../styles/_theme' as theme;

.drinksContainer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: theme.$shadow;
  display: flex;
  width: 90rem;
  height: 50rem;
  margin: 0 auto;
  background-color: white;

  flex-direction: row;
  padding: 6rem;

  margin: 7.5rem 7.5rem 4rem 7.5rem;
  justify-content: center;
  img {
    border-radius: 2rem;
    width: 40rem;
    height: 40rem;
  }
}
.instructions {
  text-align: center;
}

.infoContainer {
  font-family: theme.$body-font-family;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: theme.$white;
  border-radius: 20px 20px 20px 20px;

  ul {
    list-style-type: circle;
  }

  li {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  h1 {
    color: theme.$bodyRed;
    font-size: 40px !important;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
    color: theme.$bodyRed;
    margin: 5px;
  }
  hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: theme.$bodyGold;
    height: 2px;
  }
  span {
    color: theme.$text-black;
  }

  p,
  li {
    font-size: 20px;
  }
}

.container {
  margin: 0 auto;
}

.content {
  height: 100%;
  width: 100%;
}

.spinner {
  position: relative;
  right: 25%;
  bottom: 200px;
}

.drunkTitle {
  text-align: center;
  font-size: 9.6rem;
  font-family: theme.$body-font-family;
  color: theme.$bodyRed;
  text-decoration: none;
  margin-top: 50px;
}

.drinksButton {
  padding: 20px;
  width: 30%;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: theme.$body-font-family;
  background-color: theme.$headerSecondary;
  color: theme.$white;
  text-decoration: none;
  border-radius: 20px;
  a {
    color: theme.$white;
    text-decoration: none;
  }
}

.centerButton {
  display: flex;
  justify-content: center;
}

.catGlassContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
}

.catGlasschild1 {
  order: 1;
  font-size: 16px !important;
}

.catGlasschild2 {
  order: 2;
  font-size: 16px !important;
}

.treeImage {
  position: relative;
  right: 50px;
  bottom: 20px;
  rotate: calc(15deg);
}
