
@use '../styles/_theme' as theme;

.drinksContainer {
  display: flex;
  border: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
  border-radius: 20px;
  flex-direction: row;
  padding: 60px;
  margin: 75px 75px 40px 75px;
  justify-content: center;
  img {
    border-radius: 20px 20px 20px 20px;
    }
}
.instructions {
  text-align: center;
}

.infoContainer {
  font-family: theme.$body-font-family;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: theme.$white;
  border-radius: 20px 20px 20px 20px;
  
  ul {
    list-style-type: circle;
  }

  li {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  h1 {
  color: theme.$bodyRed;
  font-size: 40px !important;
  text-align: center;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
    color: theme.$bodyRed;
    margin: 5px;
  }
  hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: theme.$bodyGold;
    height: 2px;
  }
  span {
    color: theme.$text-black;
  }

  p, li{
    font-size: 20px;
  }

}

.spinner{
  margin-left: -40rem;
  margin-top: 1rem;
}


.drinksButton {
  padding: 20px;
  width: 30%;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: theme.$body-font-family;
  background-color: theme.$headerSecondary;
  color: theme.$white;
  text-decoration: none;
  border-radius: 20px;
  a {
    color: theme.$white;
    text-decoration: none;
  }
}

.centerButton {
  display: flex;
  justify-content: center;
}

.catGlassContainer {
  display:flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
  
}

.catGlasschild1 {
order: 1;
font-size: 16px !important;
}

.catGlasschild2 {
order: 2;
font-size: 16px !important;
}

html {
  background-color: theme.$lightBackground;
}

.treeImage {
position: relative;
right: 50px;
bottom: 20px;
rotate:calc(15deg)
}