@use '../styles/theme';

.home {
  display: flex;
  flex-direction: row;
  place-content: center;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgb(239, 239, 239);
}

.imageContainer {
  display: flex;
  flex-direction: row;
  place-items: center;
  // margin: 5rem 0;
}

.imageWrapper {
  width: fit-content;
  // padding: 1rem;
  margin: 0 1.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.6rem;
}

.image {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
  // padding: 1rem;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: larger;
}

.homepageButtons {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 5px 24px;
  font-size: 26px;
  cursor: pointer;
  border-color: #020202;
  color: #000000;
  border-radius: 10px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.homepageButtons a {
  color: #000000;
  border-radius: 10px;
  font-size: 26px;
}

.homepageButtons:hover {
  background-color: #D08C54;
  color: rgb(255, 255, 255);
}

.homepageButtons:hover a {
  background-color: #D08C54;
  color: rgb(255, 255, 255);
}

// .homepageButtons, .homepageButtons a {
//   background-color: #D08C54;
//   padding: 10px;
//   color: rgb(0, 0, 0);
//   margin: 0px, 20px, 20px, 20px;
//   font-size: 24px;
//   font-family: 'Roboto', sans-serif;
//   border-radius: 20px;
//   box-shadow: inset;

// }

// .homepageButtons:hover {
//   background-color: #9c683e;
//   box-shadow: inset 0 0 0 var(--border-size) currentcolor;
// }


