@use '../styles/theme';

.home {
  display: flex;
  flex-direction: row;
  place-content: center;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  place-items: center;

  // margin: 5rem 0;
}

.imageWrapper {
  width: fit-content;
  // padding: 1rem;
  margin: 0 1.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.6rem;
}

.image {
  width: 30rem;
  height: 30rem;
  // padding: 1rem;
}
