@use '../styles/_theme' as theme;


.SSHomeContainer {
  position: relative;
  text-align: center;
  margin: 0 1.5rem;
  h1 {
  font-size: 3rem;
  font-family: theme.$body-font-family;
  color: theme.$bodyRed;
  text-decoration: none;
  margin-top: 50px;
  }
  a {
    text-decoration: none;
  }
}

.image {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
  transition: transform .5s;
  position: relative;
  left: 150px;
}

.image:hover {
  transform: scale(1.1);
}

.links {
  position: relative;
  right: 210px;
  top: 50px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 2.6rem;
  font-family: theme.$body-font-family;
  color: theme.$bodyRed;
  text-align: center;
}




