@use '../styles/theme';

.navbar {
  display: flex; justify-content: space-between; align-items: center;
  gap: 8px; padding: 24px; background-color: theme.$headerPrimary; color: theme.$white;
  font-size: 1.2rem; font-weight: bolder; white-space: nowrap;  
  a {
    color: theme.$white;
    text-decoration: none;
  }
  nav {
    text-decoration: none;
    font-size: larger;
  }
}

.title { font-size: 2rem; }

.links {
  display: flex; justify-content: space-around; gap: 48px;
  margin-left: 48px;
}