@use '../styles/_theme' as theme;

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;

  height: 55vh;

  width: 100%;
}

.spinner__circle {
  width: 150px;
  height: 150px;

  animation: spin 2s linear infinite;

  background-image: url('/server/public/assets/Drunk-Santa-.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
